<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartSpend AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="background">
        <div class="dots dots-left"></div>
        <div class="dots dots-right"></div>
        <div class="wave wave-one"></div>
        <div class="wave wave-two"></div>

        <main class="welcome-box">
            <h2>Welcome to</h2>
            <h1>SmartSpend AI</h1>

            <div class="card-container">
                <a href="/login" class="action-card">
                    <div class="icon">◎</div>
                    <span>Login</span>
                </a>

                <a href="/signup" class="action-card">
                    <div class="icon">⊕</div>
                    <span>Sign Up</span>
                </a>
            </div>
        </main>
    </div>

</body>

</html>