<<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Login | SmartSpend AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        <div class="auth-page">
            <div class="auth-card">
                <h1>Login</h1>
                <p>Welcome back to SmartSpend AI</p>

                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="Enter Email" required>
                    <input type="password" name="password" placeholder="Enter Password" required>

                    <button type="submit">Login</button>
                </form>

                <p class="switch-link">
                    Don't have an account?
                    <a href="/signup">Sign Up</a>
                </p>

                <a class="back-link" href="/">← Back to Home</a>
            </div>
        </div>

    </body>

    </html>